@inject _0_Framework.Application.IAutenticateHelper authHelper;
@{
    var currentUser = authHelper.CurrentAccountRole();
}
<div class="left side-menu" id="side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/Images/ProfilePicture/@currentUser.ProfilePicture" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown" id="admin-dropdwon">
                    <a id="admin-menu"
                       class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> @currentUser.Fullname <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-area="Administrator" asp-page="/Shop/ProductCategories/Index">
                                <i class="md md-face-unlock"></i> Profile
                                <div class="ripple-wrapper"></div>
                            </a>
                        </li>
                        <li>
                            <a><i class="md md-settings"></i> Settings</a>
                        </li>
                        <li>
                            <a><i class="md md-lock"></i> Lock screen</a>
                        </li>
                        <li>
                            <a asp-page="/Authenticate" asp-page-handler="Logout">
                                <i class="md md-settings-power"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>

                <p class="text-muted m-0">Administrator</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-area="Administrator" asp-page="/Index" class="waves-effect active">
                        <i class="md md-home"></i><span> Dashboard </span>
                    </a>
                </li>
                @if (authHelper.CurrentAccountRole().RoleId == "2")
                {
                    <li class="has_sub">
                        <a class="waves-effect">
                            <i class="md md-store"></i><span> Store </span>
                            <span class="pull-right">
                                <i class="md md-add"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="Administrator" asp-page="/Shop/ProductCategories/Index">Product Category</a>
                            </li>
                            <li>
                                <a asp-area="Administrator" asp-page="/Shop/Product/Index">Product</a>
                            </li>
                            <li>
                                <a asp-area="Administrator" asp-page="/Shop/ProductPicture/Index">Product Pictures</a>
                            </li>
                            <li>
                                <a asp-area="Administrator" asp-page="/Shop/Slider/Index">Slider</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a class="waves-effect">
                            <i class="md md-people"></i><span> Accounts </span>
                            <span class="pull-right">
                                <i class="md md-add"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="Administrator" asp-page="/Shop/Accounts/Account/Index">Accounts</a>
                            </li>
                            <li>
                                <a asp-area="Administrator" asp-page="/Shop/Accounts/Role/Index">Roles</a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="has_sub">
                    <a class="waves-effect">
                        <i class="md md-attach-money"></i><span> Discount </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-area="Administrator" asp-page="/Discounts/EndUserDiscount/Index">End User Discounts</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a class="waves-effect">
                        <i class="md md-local-shipping"></i><span> Invenotry </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-area="Administrator" asp-page="/Inventory/Index">Invenotry</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a class="waves-effect">
                        <i class="md md-comment"></i><span> Comment </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-area="Administrator" asp-page="/Shop/Comment/Index">Comments</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
