@model DM.Application.Contracts.DefineEndUserDiscount
@{

}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <i class="fa fa-times-circle"></i>
    </button>
    <h4> Create a product </h4>
</div>

<form asp-page-handler="Create" asp-page="./Index" data-callback=""
      method="post" data-action="Refresh" data-ajax="true">
    <div class="row">
        <div clas="form-group col-md-12">
            <div class="col-md-6 from-group">
                <label asp-for="ProductId"> Select Product </label>
                <select class="form-control" asp-for="ProductId" asp-items='new SelectList(Model.Products, "Id", "Name")'>
                    <option value="0"></option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="DiscountRate"> Discount Rate </label>
                <input asp-for="DiscountRate" type="number" class="form-control" />
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div clas="form-group col-md-12">
            <div class="col-md-12 from-group">
                <label asp-for="Occasion"> </label>
                <input asp-for="Occasion" type="text" class="form-control" placeholder="What is the occasion" />
                <span asp-validation-for="Occasion" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row m-t-15">
        <div clas="form-group col-md-12">
            <div class='form-group col-md-6' id='datetimepicker1'>
                <label asp-for="StartTime"> Start Time </label>
                <input type='text' class="form-control" id="DatePicker_StartTime" asp-for="StartTime" value="MM-DD-YYYY"/>
            </div>
            <div class='form-group col-md-6' id='datetimepicker1'>
                <label asp-for="EndTime"> End Time </label>
                <input type='text' class="form-control" id="DatePicker_EndTime" asp-for="EndTime" value="MM-DD-YYYY"/>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"> Close </button>
        <button id="submitModal" type="submit" class="btn btn-inverse waves-effect waves-light">
            <i class="fa fa-save"></i>
            Create
        </button>
    </div>
</form>

