<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Vendor CSS -->
    <link href="~/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/css/Custom.css" rel="stylesheet">
    <link href="~/css/Stars.css" rel="stylesheet">
</head>

<body>
    <!--====================  header area ====================-->
    <div class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--=======  header wrapper  =======-->
                    <div class="header-wrapper d-none d-lg-flex">
                        <!-- logo -->
                        <div class="logo">
                            <a asp-area="Administrator" asp-page="/Index">
                                <img src="~/assets/img/logo.png" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- menu wrapper -->
                        <div class="navigation-menu-wrapper">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">PAGES</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Page List One</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="cart.html">Cart</a>
                                                    </li>
                                                    <li>
                                                        <a href="checkout.html">Checkout</a>
                                                    </li>
                                                    <li>
                                                        <a href="wishlist.html">Wishlist</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">page list two</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="my-account.html">My Account</a>
                                                    </li>
                                                    <li>
                                                        <a href="login-register.html">Login Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="faq.html">FAQ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Page list three</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="compare.html">Compare</a>
                                                    </li>
                                                    <li>
                                                        <a href="contact.html">Contact</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html">About Us</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="blog-left-sidebar.html">BLOG</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="contact.html">CONTACT</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- header icon -->
                        <div class="header-icon-wrapper">
                            <ul class="icon-list">
                                <li>
                                    <a href="javascript:void(0)" id="search-overlay-trigger">
                                        <i class="ion-ios-search-strong"></i>
                                    </a>
                                </li>
                                <li>
                                    <div class="header-cart-icon">
                                        <a href="#" id="minicart-trigger">
                                            <i class="ion-bag"></i>
                                            <span class="counter">3</span>
                                        </a>
                                        <!-- mini cart  -->
                                        <div class="mini-cart" id="mini-cart">
                                            <div class="cart-items-wrapper ps-scroll">
                                                <div class="single-cart-item">
                                                    <a href="javascript:void(0)" class="remove-icon">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                    <div class="image">
                                                        <a href="single-product.html">
                                                            <img src="~/assets/img/products/product-1-80x106.jpg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p class="product-title">
                                                            <a href="single-product.html">Cillum dolore furniture</a>
                                                        </p>
                                                        <p class="count"><span>1 x </span> $402</p>
                                                    </div>
                                                </div>
                                                <div class="single-cart-item">
                                                    <a href="javascript:void(0)" class="remove-icon">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                    <div class="image">
                                                        <a href="single-product.html">
                                                            <img src="~/assets/img/products/product-2-80x106.jpg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p class="product-title">
                                                            <a href="single-product.html">Lorem ipsum furniture</a>
                                                        </p>
                                                        <p class="count"><span>1 x </span> $500</p>
                                                    </div>
                                                </div>
                                                <div class="single-cart-item">
                                                    <a href="javascript:void(0)" class="remove-icon">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                    <div class="image">
                                                        <a href="single-product.html">
                                                            <img src="~/assets/img/products/product-3-80x106.jpg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p class="product-title">
                                                            <a href="single-product.html">Cillum dolore tool</a>
                                                        </p>
                                                        <p class="count"><span>1 x </span> $607</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-calculation">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-right">Sub-Total :</td>
                                                            <td class="text-left">$220.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">Eco Tax (-2.00) :</td>
                                                            <td class="text-left">$6.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">VAT (20%) :</td>
                                                            <td class="text-left">$44.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">Total :</td>
                                                            <td class="text-left">$270.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cart-buttons">
                                                <a href="cart.html">VIEW CART</a>
                                                <a href="checkout.html">CHECKOUT</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-settings-icon">
                                        <a href="javascript:void(0)" class="header-settings-trigger"
                                           id="header-settings-trigger">
                                            <div class="setting-button">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>

                                        <!-- settings menu -->
                                        <div class="settings-menu-wrapper" id="settings-menu-wrapper">
                                            <div class="single-settings-block">
                                                <h4 class="title">MY ACCOUNT </h4>
                                                <ul>
                                                    <li>
                                                        <a href="login-register.html">Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="login-register.html">Login</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="single-settings-block">
                                                <h4 class="title">CURRENCY: USD </h4>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">€ Euro</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">$ US Dollar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="single-settings-block">
                                                <h4 class="title">LANGUAGE: EN-GB </h4>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/assets/img/icons/en-gb.png" alt=""> English
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/assets/img/icons/de-de.png" alt=""> Germany
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--=======  End of header wrapper  =======-->


                </div>
            </div>
        </div>
    </div>
    <!--====================  End of header area  ====================-->
    <!--====================  End of hero slider area  ====================-->
    @RenderBody()
    <!--====================  footer area ====================-->
    <div class="footer-area">
        <div class="footer-copyright">
            <div class="container wide">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copyright-wrapper footer-copyright-wrapper--default-footer">
                            <div class="container">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-lg-2 col-md-2">
                                        <div class="footer-logo">
                                            <a href="#">
                                                <img src="~/assets/img/logo.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-5">

                                        <div class="copyright-text">

                                            Copyright &copy; 2019 <a href="#">Eposi</a>. All Rights Reserved.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-5">
                                        <div class="copyright-social-wrapper">
                                            <ul class="copyright-social">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of footer area  ====================-->


    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>

        <!--=======  search form  =======-->

        <div class="search-form">
            <form method="get" asp-page="./Search">
                <input type="search" placeholder="Search entire store here ..." name="search">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>

        <!--=======  End of search form  =======-->
    </div>



    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>Back to top</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="~/assets/js/vendors.js"></script>

    <!-- Active JS -->
    <script src="~/assets/js/active.js"></script>
    <script src="~/AdminTheme/assets/js/bootstrap.min.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.min.js"></script>
    <script src="~/js/site.js" /></script>
    @RenderSection("Scripts", required: false)
</body>

</html>