@model SM.Application.Contracts.EditProductCategory
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"> <i class="fa fa-times-circle"></i> </button>
    <h4> Edit @Model.Name </h4>
</div>

<form asp-page-handler="Edit" asp-page="./Index"
      data-callback=""
      method="post"
      data-action="Refresh"
      data-ajax="true"
      enctype="multipart/form-data">
        <div class="row">
            <div clas="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="Name"> Name </label>
                    <input asp-for="Name" type="text" class="form-control"
                           onchange="makeSlug('Name', 'Slug')"/>
                    <span class="error"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Slug"> Slug </label>
                    <input asp-for="Slug" type="text" class="form-control"/>
                    <span class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Picture"> Picture </label>
                <input asp-for="Picture" type="file" class="form-control" accept="image/*"
                        />
                <span class="error"></span>
            </div>
        </div>
        <div class="row">
            <div clas="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="PictureAlt"> Picture Alt </label>
                    <input asp-for="PictureAlt" type="text" class="form-control"
                           />
                    <span class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label asp-for="PictureTitle"> Picture Title </label>
                <input asp-for="PictureTitle" type="text" class="form-control"
                      />
                <span class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Description"> Description </label>
                <textarea asp-for="Description" type="text" class="form-control"
                          onchange="fillField('Description', 'MetaDescription')" rows="3"></textarea>
                <span class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Keyword"> Keyword </label>
                <input asp-for="Keyword" type="text" class="form-control" />
                <span class="error"></span>
            </div>
        </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="MetaDescription"> Meta Description </label>
            <textarea asp-for="MetaDescription" type="text" class="form-control" rows="3"></textarea>
            <span class="error"></span>
        </div>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"> Close </button>
        <button id="submitModal" type="submit" class="btn btn-inverse waves-effect waves-light">
            <i class="fa fa-save"></i>
            Save Changes
        </button>
    </div>
</form>